.bg-color-navbar{
    background-color: #E5E5E5;
}
.button12{
    background-color: #E5E5E5;
}
.bg-color{
    background-color: #FAFF0D;
}
.buttontxt1{
    position: absolute;
    top: -10px;
    font-size: 13px;
}
body{
    border: 1px solid black;
}
.nav-padding{
 margin: 20px;
}
.text{
    margin: 30px;
}
.wid{
    width: 64px;
}
.bor{
    border-bottom: 2px solid black;
}
.sendReq{
    border: 1px solid black;
    width: 350px;
    height: 490px;
    margin: 40px;
    background-color: #C4C4C4;
}
.image{
    border: 1px solid black;
    width: 130px;
    height: 195px;
    background-color: #F8FD04;
    position: relative;
    top: 60px;
    font-weight: bold;
    text-align: center;
}
.grades1113{
    position: absolute;
    top: 300px;
    left: 210px;
    border-bottom: 1px solid black;
}
.time{
    font-weight: bold;

}
.pranay{
    position: relative;
    top: 20px;
    left: 64px;
    text-align: center;
}
.star{
    position: relative;
    top: 40px;
    left: 75px;
}
.botButton{
    border: 1px solid black;
    width: 348px;
    height: 100px;
    background-color: #FFD80B;
    position: relative;
    top: 50px;
}
.sendbtn{
    position: relative;
    top: 30px;
    left: -83px;
    font-weight: bold;
    background-color: #FFE711;
}
.demobtn{
    position: relative;
    top: 10px;
    left: 30px;
    font-weight: bold;
    background-color: #FFE711;
}
.btntext3{
    font-size: 10px;
    
    position: relative;
    top: 30px;
}
.textofbtn{
    font-size: 10px;
    position: relative;
    top: -4px;
    left: 50px;
}