.bg-color{
    background-color:#fcffa8;
}
.eclipse{
    border-radius: 56%;
    overflow: auto;
    border: 4px solid black;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: white;
    display: inline-block;
}
.heading{
    color: white;
    margin-top: 80px;
    text-transform: uppercase;
    font-weight: 900;
    
}
.content-padding{
    padding: 35px;
    text-align: center;
    margin: 50px;
    
}
.inner-content{
    position: relative;
    left: 6px;
    
}
.title{
    color: #152DFF;
}
.thumb{
    width: 260px;
    height: 480px;
    border: 1px solid black;
    position: absolute;
    right: 30px;
    top: 20px;
}
.image{
    height: 480px;
    width: 260px;
}

.bg-col1{
    background-color: #fcffa8;
    height: 70px;
    width: auto;
}
.bg-col2{
    background-color: #ffc476;
    height: 70px;
    width: auto;
}
.bg-col3{
    background-color: #ffbe67;
    height: 70px;
    width: auto;
}
.bg-col4{
    background-color: #ffb34d;
    height: 70px;
    width: auto;
}
.bg-col5{
    background-color: #ffa834;
    height: 70px;
    width: auto;
}
.bg-col6{
    background-color: #ff9d1a;
    height: 70px;
    width: auto;
}
.text{
    text-transform: uppercase;
    position: absolute;
    left: 55px;
    top: 455px;
    color: white;
    font-style: italic;
}
.text2{
    text-transform: uppercase;
    position: absolute;
    left: 196px;
    top: 525px;
    color: white;
    background-color: #ffa834;
    font-style: italic;
}
.form{
    height: 50px;
    display: inline-block;
    width: 250px;

}
.form-in{
    position: absolute;
    left: 90px;
}
.button-in{
    position: absolute;
    left: 340px;
    top: 596px;
    
    
}
.button{
    background-color: #faff0d;
    height: 48px;
    
    width: 80px;
    
}
.or{
    position: absolute;
    left: 625px;
    top: 596px;
}
.findTutor{
    position: absolute;
    left: 890px;
    top: 596px;
    background-color: #faff0d;
    height: 50px;
    text-align: center;
    width: 220px;
}
.txt{
    font-weight: bold;
    margin-top: 5px;
}
.txt2{
    font-weight: bold;
    padding-top: 10px;
}
