.bg-color{
    background-color:#FAFF09;
}
.eclipse{
    border-radius: 56%;
    overflow: auto;
    border: 4px solid black;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: white;
    display: inline-block;
}
.heading{
    color: white;
    margin-top: 80px;
    text-transform: uppercase;
    font-weight: 900;
}
.content-padding{
    padding: 35px;
    text-align: center;
    margin: 50px;
    
}
.inner-content{
    position: relative;
    left: 6px;
    
}
.title{
    color: #152DFF;
}